/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

.content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.add-item__text-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-item__task-row-wrapper {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.input,
.button {
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3A3a;
}

/* Heading */
.task-title,
.add-item__new-task-label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input:focus {
  color: #333;
}

/* New Task */
.add-item__new-task-label {
  display: block;
  margin: 0 0 20px;
}

.add-item__text-input {
  width: 318px;
}

/* Task list */
.task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-checkbox {
  margin: 0 10px;
}

.task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-text-input {
  width: 226px;
}

.delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks .task-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-text-input {
  display: none;
}

.edit-mode .task-text-input {
  display: inline-block;
  width: 224px;
}

.edit-mode .task-label {
  display: none;
}